.yui3-menu .yui3-menu {
    position: absolute;
    z-index: 1
}

.yui3-menu .yui3-shim {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity = 0);
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

.yui3-menu-hidden {
    top: -10000px;
    left: -10000px;
    visibility: hidden
}

.yui3-menu li {
    list-style-type: none
}

.yui3-menu ul, .yui3-menu li {
    margin: 0;
    padding: 0
}

.yui3-menu-label, .yui3-menuitem-content {
    text-align: left;
    white-space: nowrap;
    display: block
}

.yui3-menu-horizontal li {
    float: left;
    width: auto
}

.yui3-menu-horizontal li li {
    float: none
}

.yui3-menu-horizontal ul {
    *zoom: 1
}

.yui3-menu-horizontal ul ul {
    *zoom: normal
}

.yui3-menu-horizontal>.yui3-menu-content>ul:after {
    content: "";
    display: block;
    clear: both;
    line-height: 0;
    font-size: 0;
    visibility: hidden
}

.yui3-menu-content {
    *zoom: 1
}

.yui3-menu-hidden .yui3-menu-content {
    *zoom: normal
}

.yui3-menuitem-content, .yui3-menu-label {
    _zoom: 1
}

.yui3-menu-hidden .yui3-menuitem-content, .yui3-menu-hidden .yui3-menu-label {
    _zoom: normal
}
/*
Стиль контейнеров меню
*/
.yui3-skin-my .yui3-menu-content, .yui3-skin-my .yui3-menu .yui3-menu .yui3-menu-content {
    font-size: 9pt;
    line-height: 1.5;
    *line-height: 1.45;
    border-top: solid 1px #e6e6e6;
    background: #fafafa;
    padding: 3px 0;
}
/*
Стиль контейнеров подменю
*/
.yui3-skin-my .yui3-menu .yui3-menu .yui3-menu-content {
    font-size: 9pt;
    border: outset 1px #808080;
    box-shadow: #808080 2px 2px 5px;
    border-radius: 5px;
}

.yui3-skin-my .yui3-menu-horizontal .yui3-menu-content {
    line-height: 2;
    *line-height: 1.9;
    background: #b5b5b5;
    padding: 0
}

.yui3-skin-my .yui3-menu ul, .yui3-skin-my .yui3-menu ul ul {
    margin-top: 3px;
    padding-top: 3px;
    border-top: solid 1px #ccc
}

.yui3-skin-my .yui3-menu ul.first-of-type {
    border: 0;
    margin: 0;
    padding: 0
}

.yui3-skin-my .yui3-menu-horizontal ul {
    padding: 0;
    margin: 0;
    border: 0
}

.yui3-skin-my .yui3-menu li, .yui3-skin-my .yui3-menu .yui3-menu li {
    _border-bottom: solid 1px #fff
}

.yui3-skin-my .yui3-menu-horizontal li {
    _border-bottom: 0
}

.yui3-skin-my .yui3-menubuttonnav li {
    border-right: solid 1px #ccc
}

.yui3-skin-my .yui3-splitbuttonnav li {
    border-right: solid 1px #808080
}

.yui3-skin-my .yui3-menubuttonnav li li, .yui3-skin-my .yui3-splitbuttonnav li li {
    border-right: 0
}
/*
Стиль не выпадающих пунктов меню
*/
.yui3-skin-my .yui3-menu-label, .yui3-skin-my .yui3-menu .yui3-menu .yui3-menu-label, .yui3-skin-my .yui3-menuitem-content, .yui3-skin-my .yui3-menu .yui3-menu .yui3-menuitem-content {
    padding: 0 1em;
    color: #717171;
    text-decoration: none;
    cursor: default;
    float: none;
    border: 0;
    margin: 0;
    background: none;
}
/*
Стиль элементов ленты
*/
.yui3-skin-my .yui3-menu-horizontal .yui3-menu-label, .yui3-skin-my .yui3-menu-horizontal .yui3-menuitem-content {
    color: #efefef;
    margin: -1px 0;
    float: left;
    width: auto;
    padding: 5px 20px 0 20px;
    background: none;
}
/*
Стиль выпадающих пунктов меню
*/
.yui3-skin-my .yui3-menu-label, .yui3-skin-my .yui3-menu .yui3-menu .yui3-menu-label {
    color: #717171;
    background: url(vertical-menu-submenu-indicator.png) right center no-repeat;
    padding-right: 20px;
}
/*
Стиль выпадающих пунктов ленты
*/
.yui3-skin-my .yui3-menu-horizontal .yui3-menu-label {

}

.yui3-skin-my .yui3-menubuttonnav .yui3-menu-label, .yui3-skin-my .yui3-splitbuttonnav .yui3-menu-label {
    background-image: none;
}

.yui3-skin-my .yui3-menubuttonnav .yui3-menu-label {
    padding-right: 0
}

.yui3-skin-my .yui3-menubuttonnav .yui3-menu-label em {
    font-style: normal;
    padding-right: 20px;
    display: block;
    background: url(horizontal-menu-submenu-indicator.png) right center no-repeat
}

.yui3-skin-my .yui3-splitbuttonnav .yui3-menu-label {
    padding: 0
}

.yui3-skin-my .yui3-splitbuttonnav .yui3-menu-label a {
    float: left;
    width: auto;
    color: #000;
    text-decoration: none;
    cursor: default;
    padding: 0 5px 0 10px
}

.yui3-skin-my .yui3-splitbuttonnav .yui3-menu-label .yui3-menu-toggle {
    padding: 0;
    border-left: solid 1px #ccc;
    width: 15px;
    overflow: hidden;
    text-indent: -1000px;
    background: url(horizontal-menu-submenu-indicator.png) 3px center no-repeat;
}
/*
Стиль выпадающих пунктов меню при наведении
*/
.yui3-skin-my .yui3-menu-label-active, .yui3-skin-my .yui3-menu-label-menuvisible, .yui3-skin-my .yui3-menu .yui3-menu .yui3-menu-label-active, .yui3-skin-my .yui3-menu .yui3-menu .yui3-menu-label-menuvisible {
    background-color: #f2f2f2;
    border-top: none;
    border-left: 1px solid #484848;
    margin-top: 0;
    margin-left: -1px;
    color: #000;
}
/*
Стиль не выпадающих пунктов меню при наведении
*/
.yui3-skin-my .yui3-menuitem-active .yui3-menuitem-content, .yui3-skin-my .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content {
    background-color: #f2f2f2;
    border-top: none;
    margin-left: -1px;
    cursor: pointer;
    border-left: 1px solid #484848;
    margin-top: 0;
    color: #000;
}
/*
Стиль пунктов меню при наведении
*/
.yui3-skin-my .yui3-menu-horizontal .yui3-menu-label-active, .yui3-skin-my .yui3-menu-horizontal .yui3-menuitem-active .yui3-menuitem-content, .yui3-skin-my .yui3-menu-horizontal .yui3-menu-label-menuvisible {
    background-color: #b6b6b6;
    border-top: 1px solid #484848;
    border-left: none;
    margin-top: -2px;
    margin-left: 0;
    color: #fff;
}

.yui3-skin-my .yui3-menubuttonnav .yui3-menu-label-active, .yui3-skin-my .yui3-menubuttonnav .yui3-menuitem-active .yui3-menuitem-content, .yui3-skin-my .yui3-menubuttonnav .yui3-menu-label-menuvisible, .yui3-skin-my .yui3-splitbuttonnav .yui3-menu-label-active, .yui3-skin-my .yui3-splitbuttonnav .yui3-menuitem-active .yui3-menuitem-content, .yui3-skin-my .yui3-splitbuttonnav .yui3-menu-label-menuvisible {
    border-left-width: 1px;
    margin-left: -1px;
}

.yui3-skin-my .yui3-splitbuttonnav .yui3-menu-label-menuvisible {
    border-color: #808080;
    background: transparent;
}

.yui3-skin-my .yui3-splitbuttonnav .yui3-menu-label-menuvisible .yui3-menu-toggle {
    border-color: #7d98b8;
    background: url(horizontal-menu-submenu-toggle.png) left center no-repeat
}

#yui3-css-stamp.skin-sam-node-menunav {
    display: none
}